<div class="container__big-card">
  <div class="big-card__img">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
      alt=""
      height="220px"
    />
  </div>
  <div class="big-card__title">
    <h1>Saiu a nova versão do Angular!</h1>
  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
      voluptas, recusandae perferendis ipsa porro incidunt voluptate culpa optio
      maiores vel adipisci veniam assumenda! Tenetur in, nostrum totam at
      voluptatem illum.
    </p>
  </div>
</div>
